body {
  justify-content: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "header header header header header header"
    "div . . . . ."
    ". section section section . ."
    ". form form form . ."
    ". ul ul ul . .";
  background-color: lavender;
  margin-left: 17.5%;
  margin-right: 10%;
  width: 1000px;
  font-family: monospace;
}

/* header */
header {
  grid-area: header;
}
/* option/dropdown*/
div {
  grid-area: div;
}
section {
  text-align: center;
  grid-area: section;
}
/* form */
form {
  grid-area: form;
}
/* ul */
ul {
  grid-area: ul;
}

header {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "img img . h1 h1 h1 .";
  background-color: skyblue;
  height: 100px;
  width: 750px;
}

img {
  grid-area: img;
  height: 100px;
}

h1 {
  grid-area: h1;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "input-form input-form submit-form submit-form";
  grid-area: form;
  display: inline-block;
  text-align: center;
}

#input-form {
  grid-area: input-form;
}
#submit-form {
  grid-area: submit-form;
}
